name: "The Factory"

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    name: Check & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v2
        
      - name: Cachix Cache
        uses: cachix/cachix-action@v14
        with:
          name: cafaye
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Run Core Tests
        run: |
          nix flake check --show-trace
