name: "The Factory"

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    name: Check & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run Core Tests
        run: |
          nix flake check --show-trace
